
<div class="@NavMenuCssClass">
    <a>
        <NavLink class="" href="" Match="NavLinkMatch.All" @onclick="() => ToggleNavMenuOff()">
            <span class="oi oi-home" aria-hidden="true"></span> Current Encounters
        </NavLink>
    </a>
    <a>
        <NavLink class="" href="/CharacterList" @onclick="() => ToggleNavMenuOff()">
            <span class="oi oi-plus" aria-hidden="true"></span> Characters
        </NavLink>
    </a>
    <a>
        <NavLink class="" href="/AddEncounter" @onclick="() => ToggleNavMenuOff()">
            <span class="oi oi-list-rich" aria-hidden="true"></span> New Encounter
        </NavLink>
    </a>
    <a href="javascript:void(0);" class="icon pt-2" @onclick="() => ToggleNavMenu()">
        <span class="oi oi-menu" aria-hidden="true"></span>
    </a>
</div>



@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => collapseNavMenu ? "topnav" : "responsive";

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    } 
    
    void ToggleNavMenuOff()
    {
        collapseNavMenu = true;
    }
}
