<button class="btn btn-danger border-0 w-100 @Margin @(IsNotVisible ? "d-none" : "" )" @onclick="OnButtonClick">
    <span class="oi oi-trash"></span>
</button>

@code {
    [Parameter]
    public string DeleteButtonTitle { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnButtonClick { get; set; }
    [Parameter]
    public bool IsNotVisible { get; set; }
    [Parameter]
    public string Margin { get; set; } = "m-2";
}